<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" crossorigin="anonymous">
    <script src="vue.js"></script>

    <title>Vue</title>
</head>

<body>
    <!-- <div id="app-1">
        {{message}}
    </div>
    <div id="app-2">
        <span v-if='seen'>
            this is see if seen is true
        </span>
    </div>
    <div id="app-3">
        <span v-bind:title='message'>
            touch to see date and time
        </span>
    </div>
    <div id="app-4">
        <ol>
            <li v-for='todo in todos'>
                {{todo.text}}
            </li>
            <input v-model='item'>
            <button v-on:click='add'>add this</button>

        </ol>
    </div>
    <div id="app-5">
        <p>{{message}}</p>
        <button v-on:click='reverseMessage'>Click to reverse</button>
    </div>
    <div id="app-6">
        <p>{{message}}</p>
        <input v-model='message'>
        <button v-on:click='reverseMessage'>sss</button>
    </div>
    <div id="app-7">
        <button v-on:click='clickThis'>Click me</button>
    </div> -->


    <button onclick='show()' class="btn-primary">Show me time and date</button>
    <div id="tim" class="alert-success alert-sm">

    </div>
    <script src="forus.js"></script>
</body>

</html>