.carousel p{
    color: #0a0a0a;
    font-weight: bold;
    font-size: 30px;
    margin: auto;
}

#searchForm{
    float: center;
    position: absolute;
    top: 40%;
}
@media screen and (max-width: 500px) {
  p {
    color: #000000;
    font-weight: bold;
    font-size: 20px;
    margin: auto;
  }
}
.form-container{
    width: 100%;
    margin: 50px auto 50px;
    float: none;
} 
 .carousel-inner img {
    width: 100%;
    height: 100%;
  }
.form-title a{
    float: center;
    margin: 0 auto -30px;
    width: 100%;
    text-align: center;
}
.form-group{
    border-style: none;
    box-shadow: none;
    padding: 30px 10px 0px;
    margin: auto;
}
.select-cat{
    outline: none;
    box-shadow: none !important;
    border-style: none none solid;
    border-bottom-color: green;
    border-style: none none solid;
    border-bottom-color: tan;
}
.form-group select:focus{
    outline: none;
    box-shadow: none;
    border: .5px solid #34eb49;
}
.form-group input[type=text], input[type=number], input[type=email],input[type=password]{
    outline: none;
    padding: 10px 5px;
    box-shadow: none !important;
    border-style: none none solid;
    border-bottom-color: green;
    border-style: none none solid;
    border-bottom-color: tan;
}
.form-group input:focus{
    outline: none;
    box-shadow: none;
    border: .5px solid #34eb49;
}
.form-group textarea:focus{
    outline: none;
    box-shadow: none;
    border: .5px solid #34eb49;
}
.form-group{
    border-style: none;
    box-shadow: none;
    margin: 2px 2px 2px;
}

.form-group textarea{
    outline: none;
    box-shadow: none !important;
    border:.5px solid black;
   
}
.form-group input:focus{
    outline: none;
    box-shadow: none;
    border: .5px solid #34eb49;
}
.form-group textarea:focus{
    outline: none;
    box-shadow: none;
    border: .5px solid #34eb49;
}
.fas{
    font-size: 20px;
}

